@import "@radix-ui/colors/violet.css";
@import "@radix-ui/colors/mauve.css";

/* Custom Dark Mode Styling */
[data-theme="dark"] {
  --color-background: #44444c;
  /* --color-foreground: #1a1a1a;
    --color-border: #272727;  */
  /* --color-text: #ddaf16; */
  color: #f7f4ea;
}

.navTitle {
  font-family: Humanism;
  color: #f7f4ea;
  text-decoration: none;
  font-size: 32px;
}

.navLink {
  color: #f7f4ea;
  text-decoration: none;
  font-size: 20px;
}

#cvBtn {
  box-sizing: border-box;
}

.mWidth {
  padding: 0px 64px;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}

.firstDiv {
  padding-top: 160px;
}

.homeMainDiv {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-top: 15%;
  height: 70vh;
  position: relative;
}

svg {
  position: absolute;
  width: 100vw;
  top: 0;
  left: 0;
  fill: var(--mauve-2);
  z-index: -1;
}

.homeDiv {
  padding-top: 80px;
  padding-bottom: 80px;
}

.mainBody {
  font-size: 16px;
  font-family: Quicksand, sans-serif;
  font-weight: 400;
}

.pageTitle {
  margin-bottom: 56px;
  line-height: 1;
}

.line {
  border-top: 2px solid #f7f4ea;
  width: 100vw;
  padding: 0px;
  margin: 0px;
  height: 0px;
}

.meDescription {
  max-width: 900px;
}

#projectsContainer {
  display: flex;
  flex-wrap: row;
  justify-content: center;
  gap: 32px;
}

.projectCard {
  height: 500px;
  width: 350px;
  padding-left: 50px;
  position: relative;
  transition: 0.5s;
}

.projectCard:hover {
  background-color: var(--violet-12);
  color: #44444c;
  transform: translate(0, -16px);
  transition: 0.5s;
}

.projectCardImg {
  position: absolute;
  right: -70px;
  bottom: -50px;
  max-width: 300px;
  filter: drop-shadow(2px 1px 0 var(--mauve-12))
    drop-shadow(-1px -1px 0 var(--mauve-12));
}

.titleCard {
  height: 140px;
}

.lineContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border: #f7f4ea 2px solid;
  border-radius: 8px;
  margin-bottom: 40px;
}

#projectInfo {
  width: 50vw;
}

#projectsContainer {
  overflow-y: auto;
}

#coisa {
  background-color: aliceblue;
}

/* .badge {
  border-radius: 32px;
  background: linear-gradient(90deg, #797a9e 0%, rgba(152, 147, 218, 0) 76%);
  color: #44444c;
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
} */
