@import "@radix-ui/colors/violet.css";
@import "@radix-ui/colors/mauve.css";

/* Custom Dark Mode Styling */
[data-theme="dark"] {
  --color-background: #44444c;
  /* --color-foreground: #1a1a1a;
    --color-border: #272727;  */
  /* --color-text: #ddaf16; */
  color: #f7f4ea;
}

#pcImg {
  position: absolute;
  top: 5%;
  right: 4%;
  width: 36vw;
}

.navTitle {
  font-family: Humanism;
  color: #eeeef0;
  text-decoration: none;
  font-size: 32px;
}

.navLink {
  color: #eeeef0;
  text-decoration: none;
  font-size: 20px;
}

#cvBtn {
  box-sizing: border-box;
}

.mWidth {
  padding: 0px 80px;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}

.firstDiv {
  padding-top: 120px;
}

.homeMainDiv {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-top: 10%;
  height: 70vh;
  position: relative;
  width: 100%;
}

.homeMainDiv > h1 {
  font-size: 96px;
}

.homeMainDiv > h3 {
  font-size: 52px;
  margin-bottom: 24px;
}

#backgroundSvg {
  position: absolute;
  width: 100vw;
  top: 0;
  left: 0;
  fill: var(--mauve-2);
  z-index: -1;
}

.homeDiv {
  padding-top: 80px;
  padding-bottom: 80px;
}

.mainBody {
  font-size: 16px;
  font-family: Quicksand, sans-serif;
  font-weight: 400;
}

.pageTitle {
  margin-bottom: 56px;
  line-height: 1;
}

.line {
  border-top: 2px solid #eeeef0;
  width: 100vw;
  padding: 0px;
  margin: 0px;
  height: 0px;
}

.meDescription {
  max-width: 900px;
}

#projectsContainer {
  display: flex;
  flex-wrap: row;
  justify-content: center;
  gap: 32px;
}

.projectCard {
  height: 480px;
  width: 340px;
  padding-left: 50px;
  position: relative;
  transition: 0.5s;
}

.projectCard:hover {
  /* background-color: var(--violet-12);
  color: #44444c; */
  box-shadow: 0px 00px 15px 4px #62615f;
  transform: translate(0, -8px);
  transition: 0.5s;
}

.projectCardImg {
  position: absolute;
  right: -30px;
  bottom: -20px;
  width: 200px;
  height: 200px;
  filter: drop-shadow(2px 1px 0 var(--mauve-12))
    drop-shadow(-1px -1px 0 var(--mauve-12));
}

#lastCard h2 {
  margin-bottom: 32px;
}

.titleCard {
  height: 140px;
}

.lineContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border: #eeeef0 2px solid;
  border-radius: 8px;
  margin-bottom: 40px;
}

#projectInfo {
  width: 100%;
  /* max-width: 480px; */
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  overflow-y: auto;
  overflow-x: hidden;
  gap: 16px;
  padding: 32px;
}

#projectsPContainer {
  display: flex;
  justify-content: center;
  overflow-y: auto;
  width: 100%;
  min-width: 760px;
  padding-top: 0px;
  align-items: start;
}

#projectsPContainer > div {
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr)); /* Exactly 2 columns */
  gap: 32px;
  padding: 32px;
  justify-content: center;
  align-content: start;
  max-width: fit-content;
}

.projectPoster {
  width: 60%;
  height: 440px;
  object-fit: cover;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
}

.projectVideo {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
}

.imageSlider {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.projectImg {
  width: 100%;
  height: 180px;
  transition: opacity 0.5s ease-in-out;
  border-radius: 8px;
  object-fit: cover;
}

.slideBtn {
  background: none;
  color: var(--mauve-1);
  border: none;
  padding: 0px;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
}

.svgBtn {
  stroke: #eeeef0;
  stroke-width: 3;
  stroke-linejoin: round;
}

.slideBtn:first-child {
  left: -20px;
}

.slideBtn:last-child {
  right: -20px;
}

/* Container for the entire carousel */
.carousel-container {
  position: relative;
  width: calc(340px * 3 + 48px); /* Ensures the container takes up full width */
  overflow: hidden; /* Hide the overflowing content */
  padding: 24px 20px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* The container that holds all the cards, will move horizontally */
.carousel-content {
  display: flex;
  transition: transform 0.5s ease-in-out; /* Smooth transition */
  width: calc(
    340px * 3
  ); /* Set this to 3 times the width of one card for 3 cards at a time */
}

/* Each card takes up 1/3 of the container's width */
.carousel-content .projectCard {
  width: 33.3333%;
  box-sizing: border-box;
  margin-right: 24px;
  flex-shrink: 0;
}

/* Styling for the navigation buttons */
.carousel-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  color: white;
  padding: 20px;
  border: none;
  cursor: pointer;
  z-index: 10;
}

.carousel-nav.prev {
  left: -22px;
}

.carousel-nav.next {
  right: -22px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: var(--mauve-3);
  padding: 20px;
  width: 80%;
  max-width: 600px;
  border-radius: 10px;
  position: relative;
  height: 90vh;
  overflow-y: auto;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

#projectsContainer {
  height: 84vh;
}

@media screen and (max-width: 1280px) {
  .mWidth {
    padding: 40px 40px;
  }

  #pcImg {
    display: none;
  }
  /* Container for the entire carousel */
  .carousel-container {
    width: calc(
      340px * 2 + 24px
    ); /* Ensures the container takes up full width */
  }

  .carousel-content {
    width: calc(340px * 2);
  }

  /* Each card takes up 1/3 of the container's width */
  .carousel-content .projectCard {
    width: 50%;
  }

  .titleCard {
    height: 100px;
  }

  #projectsPContainer {
    overflow-y: hidden;
    border: none;
    height: fit-content;
  }

  #projectsContainer {
    height: auto;
  }
}

@media screen and (max-width: 1024px) {
  .mWidth {
    padding: 40px 20px;
  }

  .pageTitle {
    margin-bottom: 32px;
  }

  .homeMainDiv {
    padding-top: 10vh;
  }

  .homeMainDiv > h1 {
    font-size: 64px;
  }

  .homeMainDiv > h3 {
    font-size: 24px;
    margin-bottom: 24px;
    width: 80%;
  }

  .projectCard {
    height: 380px;
    width: 280px;
  }

  .projectCardImg {
    width: 150px;
    height: 150px;
  }

  .carousel-content,
  .carousel-container {
    width: calc(280px * 1);
  }

  /* Each card takes up 1/3 of the container's width */
  .carousel-content .projectCard {
    width: 100%;
  }

  #meDiv {
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
}

@media (max-width: 800px) {
  /* Make it 1 column on smaller screens */
  #projectsPContainer > div {
    grid-template-columns: 1fr;
  }
}
