@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@font-face {
  font-family: Humanism;
  src: url("/fonts/PNAHumanismDEMO-Bold.otf") format("opentype");
}

html,
body {
  overflow-x: hidden;
  width: 100%;
}

nav {
  max-width: 1700px;
  padding: 32px 80px;
  position: fixed;
  width: 100vw;
  height: 48px;
  z-index: 200;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #121113;
}

nav > div {
  display: flex;
  align-items: center;
  gap: 32px;
}

footer {
  min-height: 200px;
  color: #c6c3bb;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

#contactsFooter,
#workFooter {
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: left;
  width: 100%;
  /* background-color: antiquewhite; */
  gap: 32px;
}

#contactsFooter > div,
#workFooter > div {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
}

body {
  padding: 0;
  margin: 0;
  /* width: 100vw; */
  font-size: 24px;
  font-family: Quicksand, sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

h1 {
  font-family: Humanism;
  font-size: 64px;
  margin: 0px;
}

h2 {
  font-family: Humanism;
  font-size: 40px;
  margin: 0px;
}

h3 {
  font-size: 40px;
  font-family: Quicksand, sans-serif;
  font-weight: 400;
  max-width: 840px;
  right: 0px;
  margin: 0px;
}

.menuBtn {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  display: none;
  width: 48px;
}

.navLinks.open {
  display: flex;
  /* Add styling for mobile view when open */
}

@media screen and (max-width: 1280px) {
  nav {
    padding: 32px 40px;
  }
}

@media screen and (max-width: 1024px) {
  body {
    font-size: 16px;
  }

  nav {
    padding: 32px 20px;
  }

  h1 {
    font-size: 48px;
  }

  h2,
  h3 {
    font-size: 32px;
  }

  .menuBtn {
    display: block;
  }

  .navLinks {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: linear-gradient(180deg, #121113 0%, rgba(18, 17, 19, 0.8) 100%);
    backdrop-filter: blur(2px);
    flex-direction: column;
    text-align: center;
    padding: 16px 0;
  }

  footer {
    align-items: center;
  }

  #contactsFooter,
  #workFooter {
    flex-direction: column;
    align-items: start;
    gap: 4px;
  }

  #contactsFooter {
    margin-bottom: -52px;
  }
}
